BODY
{
    color: black;
    background: rgb(140,120,120);
    font-family: times new roman, times, serif;
    margin: 0;
}

IMG
{
    border: none;
}

#leftcolumn
{
    float: left;
    border: none;
    width: 120px;
    margin: 2px 5px;
    text-align: right;
}

#leftcolumn P
{
    margin: 0.25em 0;
}

#translations
{
    margin: 0;
    padding: 0 0.5em;
    background: white;
}

#translations P
{
    margin: 0.25em 0;
    text-align: right;
}

#pagetable
{
    width: 700px;
    position: relative;
}

#content
{
    color: black;
    background: white url('./turtles.jpg') no-repeat;
    padding: 0px 20px 20px 20px;
    border: solid 1px black;
}

#content .bar
{
    background: rgb(182,38,133);
    color: white;
    font-family: garamond, times new roman, times, serif;
    font-weight: normal;
    font-size: 8pt;
    margin: 0px;
    padding: 0px 0px;
    text-align: center;
}

#content .tagline
{
    color: black;
    font-family: garamond, times new roman, times, serif;
    font-style: italic;
    font-weight: normal;
    font-size: 14pt;
    padding: 0px 0px 20px 0px;
    margin: 0px;
    text-align: center;
}

#content .title1
{
    color: black;
    font-family: garamond, times new roman, times, serif;
    font-style: italic;
    font-weight: normal;
    font-size: 24pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
}

#content .title2
{
    background: rgb(182,38,133);
    color: white;
    font-family: garamond, times new roman, times, serif;
    font-weight: normal;
    font-size: 64pt;
    margin: 0px;
    padding: 0px 20px;
    text-align: center;
}

#content .authorlist
{
    color: black;
    font-family: garamond, times new roman, times, serif;
    font-style: italic;
    font-weight: normal;
    font-size: 16pt;
    padding: 0px;
    margin: 0px;
    text-align: right;
}

#versiontable TH
{
    background-color: rgb(182,38,133);
    color: white;
    border-right: 1px black dotted;
    border-bottom: 1px black dotted;
}

#versiontable TD
{
    font-size: 90%;
    border-right: 1px black dotted;
    border-bottom: 1px black dotted;
}

#versiontable LI
{
    margin-left: -0.25in;
}

.glossary
{
    text-decoration: underline;
}