BODY
{
    color: black;
    background: rgb(140,120,120);
    text-align: center;
    font-family: times new roman, times, serif;
}

#pagetable
{
    width: 640px;
}

#content
{
    color: black;
    background: white url('./turtles.jpg') no-repeat;
    padding: 20px;
    border: solid 1px black;
}

#content .title1
{
    color: black;
    font-family: garamond, times new roman, times, serif;
    font-style: italic;
    font-weight: normal;
    font-size: 24pt;
    padding: 0px;
    margin: 0px;
    text-align: left;
}

#content .title2
{
    background: rgb(179,57,150);
    color: white;
    font-family: garamond, times new roman, times, serif;
    font-weight: normal;
    font-size: 64pt;
    margin: 0px;
    padding: 0px 20px;
    text-align: center;
}

#content .authorlist
{
    color: black;
    font-family: garamond, times new roman, times, serif;
    font-style: italic;
    font-weight: normal;
    font-size: 16pt;
    padding: 0px;
    margin: 0px;
    text-align: right;
}

.glossary
{
    text-decoration: underline;
}